.color_brown {
  color: #998675;
}

.color_grey {
  color: #8c8c8c;
}

.color_dark-g {
  color: #555555;
}

.color_white {
  color: white;
}

.color_footer-txt {
  color: #4f4f4f;
}

.backgorund_color-brown {
  color: #3f2b22;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  padding: 0 15px;
  max-width: 1175px;
  margin: 0 auto;
}

.default__btn {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  background-color: #998675;
  padding: 12px 25px;
  color: white;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 2px 0px #966650;
          box-shadow: 0px 3px 2px 0px #966650;
  border: 1px solid transparent;
  outline: none;
  text-transform: uppercase;
  margin-bottom: 300px;
}

.default__btn span {
  font-weight: 600;
}

.default__btn:hover {
  background-color: transparent;
  border: 1px solid #998675;
  color: white;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.default__header-top {
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 70px;
}

.default__header-top .title {
  font-size: 30px;
  font-weight: 500;
}

.default__header-top .subtitle {
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
}

.item__card {
  width: 32%;
  margin-top: 32px;
}

.item__card .wrapper-img {
  height: 240px;
  position: relative;
}

.item__card .wrapper-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item__card .wrapper-img .overlay-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #2d2f3393;
  opacity: 0;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.item__card .block__content {
  background-color: #fbfaf8;
  padding: 25px 30px 15px;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.item__card .block__content .title {
  color: #c7b299;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.item__card .block__content .subtitle {
  margin-top: 10px;
  color: #d1d1d1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  line-height: 23px;
}

.item__card:hover .overlay-bg {
  opacity: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.item__card:hover .block__content {
  background-color: #362f2d;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.item__card:hover .block__content .title {
  color: white;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.item__card:hover .block__content .title {
  color: #c7b299;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.default__bgc-brown {
  width: 100%;
  background: #382e2b;
  background: -webkit-gradient(linear, left bottom, left top, from(#382e2b), to(#1d0f0a));
  background: linear-gradient(0deg, #382e2b 0%, #1d0f0a 100%);
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  background-image: url(../img/header/background_image.png);
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 270px;
  position: relative;
}

header nav .hamburger__menu {
  right: 30px;
  position: absolute;
  width: 30px;
  height: 30px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .hamburger__menu .hamburger__inner {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: #998675;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

header nav .hamburger__menu .hamburger__inner:before, header nav .hamburger__menu .hamburger__inner:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #998675;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

header nav .hamburger__menu .hamburger__inner:before {
  bottom: 7px;
}

header nav .hamburger__menu .hamburger__inner:after {
  top: 7px;
}

header nav .hamburger__menu .hamburger__inner.active {
  background-color: transparent;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

header nav .hamburger__menu .hamburger__inner.active:before {
  -webkit-transform: rotate(45deg) translate(17px, -5px);
          transform: rotate(45deg) translate(17px, -5px);
}

header nav .hamburger__menu .hamburger__inner.active:after {
  -webkit-transform: rotate(-45deg) translate(15px, 7px);
          transform: rotate(-45deg) translate(15px, 7px);
}

header nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a span {
  font-size: 25px;
}

header nav .navigation .ul__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .navigation .ul__nav .item {
  margin-left: 20px;
}

header nav .navigation .ul__nav .item .a__link {
  color: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header nav .navigation .ul__nav .item:nth-child(9) {
  margin-left: 50px;
}

header nav .navigation .ul__nav .item:hover .a__link {
  color: #998675;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

section.ideas {
  padding-top: 40px;
}

section.ideas .container__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

section.ideas .container__card .item__card {
  position: relative;
  max-width: 250px;
  width: 100%;
  text-align: center;
}

section.ideas .container__card .item__card .icon__card {
  margin-bottom: 20px;
}

section.ideas .container__card .item__card .icon__card i {
  font-size: 45px;
  color: #555555;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

section.ideas .container__card .item__card .title__card {
  font-weight: 600;
  font-size: 19px;
}

section.ideas .container__card .item__card .subtitle__card {
  font-size: 12px;
  margin-top: 10px;
  line-height: 20px;
}

section.ideas .container__card .item__card:after {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: #f1eee9;
  margin: 0 auto;
  left: 50%;
  bottom: -20px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

section.ideas .container__card .item__card:hover:after {
  background-color: #998675;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

section.ideas .container__card .item__card:hover i {
  color: #998675;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

section.ideas .wrapper__ideas {
  background-color: #fbfaf8;
  padding-top: 10px;
}

section.ideas .container__img {
  height: 380px;
}

section.ideas .container__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.ideas .default__bgc-brown {
  padding: 40px 0;
}

section.ideas .default__bgc-brown .row__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.ideas .default__bgc-brown .row__background p {
  color: #ffffff;
  font-size: 25px;
}

section.ideas .default__bgc-brown .row__background p span {
  color: #93816f;
}

section.ideas .default__bgc-brown .row__background span.subtitle {
  display: block;
  font-size: 13px;
  color: #5c524f;
  margin-top: 10px;
}

section.ideas .default__bgc-brown .default__btn {
  margin-bottom: 0;
}

section.projects .block__projects .nav__projects {
  margin: 0 auto;
}

section.projects .block__projects .nav__projects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.projects .block__projects .nav__projects ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
  margin: 0 10px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

section.projects .block__projects .nav__projects ul li:hover {
  background-color: #998675;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

section.projects .block__projects .nav__projects ul li:hover a {
  color: white;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

section.projects .block__projects .container__card-projects {
  margin-top: 20px;
}

section.projects .block__projects .container__card-projects .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.projects .block__projects .container__card-projects .wrapper__btn {
  text-align: center;
}

section.projects .block__projects .container__card-projects .wrapper__btn .default__btn {
  margin-top: 70px;
  margin-bottom: 70px;
}

section.projects .block__projects .container__card-projects .wrapper__btn .default__btn:hover {
  color: #998675;
}

section.player {
  background-image: url(../img/player/bg_photo.png);
  background-size: cover;
  min-height: 700px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

section.player .container__player .wrapper-player {
  margin: 0 auto;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #585a5fc2;
  margin-bottom: 30px;
}

section.player .container__player .wrapper-player .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

section.player .container__player .title__player {
  letter-spacing: 0.1rem;
  color: white;
  font-size: 30px;
  margin-bottom: 15px;
}

section.player .container__player .subtitle__player {
  max-width: 570px;
  margin: 0 auto;
  color: #ffffff;
  margin-bottom: 20px;
  line-height: 24px;
}

section.player .container__player .time__player {
  color: #c7b299;
}

section.devices {
  padding-top: 80px;
  background-color: #fbfaf8;
}

section.devices .container__devices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.devices .container__devices .img__phone img {
  width: 100%;
}

section.devices .container__devices .content__devices {
  padding-top: 100px;
}

section.devices .container__devices .content__devices .main__info {
  margin-bottom: 50px;
}

section.devices .container__devices .content__devices .main__info .title {
  font-size: 25px;
  font-weight: 500;
  color: #555555;
  margin-bottom: 20px;
}

section.devices .container__devices .content__devices .main__info .subtitle {
  line-height: 24px;
  color: #8c8c8c;
  font-size: 12px;
  max-width: 660px;
  font-weight: 500;
  width: 100%;
}

section.devices .container__devices .content__devices .second__info {
  padding-left: 50px;
}

section.devices .container__devices .content__devices .second__info .row {
  margin-top: 15px;
  display: -webkit-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.devices .container__devices .content__devices .second__info .row .circle {
  margin-right: 30px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #998675;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.devices .container__devices .content__devices .second__info .row .circle i {
  font-size: 11px;
  color: white;
}

section.devices .container__devices .content__devices .second__info .row .text {
  color: #8c8c8c;
  font-size: 12px;
}

section.devices .default__bgc-brown {
  padding: 60px 0;
}

section.devices .container__main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.devices .container__main-info .item {
  position: relative;
  min-width: 140px;
  min-height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.devices .container__main-info .item:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background-color: #f1f0f0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 0;
}

section.devices .container__main-info .item .number {
  font-size: 40px;
  color: #f1f0f0;
}

section.devices .container__main-info .item .category {
  color: #998675;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}

section.companies {
  background-image: url(../img/companies/bg.png);
  min-height: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.companies .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0;
}

section.companies .container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

section.companies .container a img {
  width: 100%;
}

footer {
  background-color: #191919;
}

footer .container__footer {
  padding-top: 80px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container__footer .wrapper__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container__footer .col {
  max-width: 270px;
  width: 100%;
  margin-right: 20px;
}

footer .container__footer .col .title {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  margin-bottom: 20px;
}

footer .container__footer .col .title span {
  margin-left: 10px;
}

footer .container__footer .col .subtitle {
  line-height: 25px;
  font-size: 14px;
}

footer .container__footer .col .read__more {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container__footer .col .read__more a i {
  margin-left: 10px;
}

footer .container__footer .col .title.default span {
  margin-left: 0;
  font-weight: 500;
}

footer .container__footer .col .date {
  color: #363636;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

footer .container__footer .col .subtitle.default {
  position: relative;
  padding-top: 20px;
}

footer .container__footer .col .subtitle.default:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #252525;
}

footer .container__footer .col .subtitle.default p {
  padding-bottom: 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

footer .container__footer .col .subtitle.default:hover .date {
  color: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

footer .container__footer .col .subtitle.default:hover p {
  color: #c7b299;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

footer .container__footer .col .subtitle.default p.third-col {
  padding-bottom: 0;
}

footer .container__footer .col .subtitle.default p.third-col span {
  color: #0d7999;
}

footer .container__footer .col .subtitle.default span.third-col {
  padding-bottom: 20px;
  display: block;
}

footer .container__footer .col .subtitle.default.first {
  padding-top: 0;
}

footer .container__footer .col .container__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .container__footer .col .container__img .img {
  height: 100px;
}

footer .copyright {
  padding: 45px 0;
  background-color: #111111;
}

footer .copyright .container.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .copyright .col ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .copyright .col ul li {
  border-right: 1px solid #8f8f8f;
}

footer .copyright .col ul li:last-child {
  border-right: none;
}

footer .copyright .col ul li a {
  color: #323232;
  margin: 0 10px;
}

footer .copyright .col ul li a span {
  color: #8f8f8f;
}

footer .copyright .col ul li a:nth-child(3) {
  color: #918270;
}

#carousel-1 {
  position: relative;
}

#carousel-1 .owl-nav {
  position: absolute;
  top: 10%;
  width: 100%;
}

#carousel-1 .owl-nav button {
  position: absolute;
  outline: none;
}

#carousel-1 .owl-nav button:hover {
  background-color: transparent !important;
}

#carousel-1 .owl-nav button span {
  color: white;
}

#carousel-1 .owl-nav .owl-prev {
  left: 0;
  font-size: 80px !important;
}

#carousel-1 .owl-nav .owl-next {
  right: 0;
  font-size: 80px !important;
}

#carousel-1 .owl-dots .owl-dot.active span {
  border: 1px solid #998675;
  background-color: transparent;
}

#carousel-1 .owl-dots button {
  outline: none;
}

#carousel-1 .inner__carousel {
  color: white;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#carousel-1 .inner__carousel .title__carousel {
  font-size: 25px;
}

#carousel-1 .inner__carousel .subtitle__carousel {
  font-size: 35px;
  font-weight: 800;
}

#carousel-1 .inner__carousel .text__carousel {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  max-width: 400px;
  margin: 0 auto;
  line-height: 20px;
}

#carousel-2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#carousel-2 .item {
  margin-right: 30px;
  margin-left: 30px;
}

#carousel-2 .owl-nav {
  margin-bottom: 30px;
}

#carousel-2 .owl-nav button {
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid #d4d4d4;
}

#carousel-2 .owl-nav button:hover {
  background: transparent;
  border: 1px solid #998675;
}

#carousel-2 .owl-nav button span {
  color: #d4d4d4;
  font-size: 30px;
}

#carousel-2 .owl-nav button:hover span {
  color: #998675;
}

#carousel-2 .item__card {
  display: block;
  width: 100%;
  position: relative;
}

#carousel-2 .item__card .container__date {
  text-align: center;
  width: 50px;
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#carousel-2 .item__card .container__date .date {
  width: 100%;
  background-color: #363636;
  color: white;
  padding: 5px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#carousel-2 .item__card .container__date .month {
  width: 100%;
  background-color: #252525;
  color: white;
  padding: 5px;
  font-size: 13px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#carousel-2 .item__card:hover .date {
  background-color: #c7b299;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#carousel-2 .item__card:hover .month {
  background-color: #a48d72;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
/*# sourceMappingURL=style.css.map */